# Byte-compiled / optimized / DLL files
__pycache__/
.idea
.playwright-mcp
odoo_env
xdg-utils-1.1.3.tar.gz
xdg-utils-1.1.3
muk_web_*
settings.local.json
resource/stitch_paas_web_app_shell_global_navigation_*

# Environment variables
.env
.env.local
.env.*.local

# Docker override
docker-compose.override.yml

# Python virtual environment
.venv/
venv/

# IDE
.vscode/*.log
.idea/