apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "paas-operator.fullname" . }}
  labels:
    {{- include "paas-operator.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "paas-operator.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "paas-operator.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "paas-operator.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.targetPort }}
              protocol: TCP
          env:
            - name: API_KEY
              valueFrom:
                secretKeyRef:
                  name: {{ include "paas-operator.secretName" . }}
                  key: {{ .Values.auth.existingSecretKey }}
            - name: LOG_LEVEL
              value: {{ .Values.config.logLevel | quote }}
            - name: NAMESPACE_PREFIX
              value: {{ .Values.config.namespacePrefix | quote }}
            - name: HELM_BINARY
              value: {{ .Values.config.helmBinary | quote }}
            - name: HELM_TIMEOUT
              value: {{ .Values.config.helmTimeout | quote }}
            {{- if .Values.cloudflare.enabled }}
            - name: CLOUDFLARE_ENABLED
              value: "true"
            - name: CLOUDFLARE_DOMAIN
              value: {{ .Values.cloudflare.domain | quote }}
            - name: CLOUDFLARE_ACCOUNT_ID
              value: {{ .Values.cloudflare.accountId | quote }}
            - name: CLOUDFLARE_TUNNEL_ID
              value: {{ .Values.cloudflare.tunnelId | quote }}
            - name: CLOUDFLARE_API_TOKEN
              valueFrom:
                secretKeyRef:
                  {{- if .Values.cloudflare.existingSecret }}
                  name: {{ .Values.cloudflare.existingSecret }}
                  {{- else }}
                  name: {{ include "paas-operator.fullname" . }}-cloudflare
                  {{- end }}
                  key: {{ .Values.cloudflare.existingSecretKey }}
            {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
      restartPolicy: Always
      terminationGracePeriodSeconds: {{ .Values.terminationGracePeriodSeconds }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
